<div id="form">

  <p>
    <ion-input label="Nome:" type="text" name="name" label-placement="floating" fill="outline"
      placeholder="Digite o nome do item." error-text="Nome inválido." required minlength="3"
      [(ngModel)]="form.name" (ionInput)="change()"></ion-input>
  </p>

  <p>
    <ion-textarea label="Descrição:" name="description" label-placement="floating" fill="outline"
      placeholder="Digite a descrição." error-text="Descrição inválida." required minlength="5"
      [(ngModel)]="form.description" autoGrow="true" (ionInput)="change()"></ion-textarea>
  </p>

  <p>
    <ion-input label="Localização:" type="text" name="location" label-placement="floating" fill="outline"
      placeholder="Digite o local do item." error-text="Local inválido." required minlength="3"
      [(ngModel)]="form.location" (ionInput)="change()"></ion-input>
  </p>

  <p>
    <ion-toggle [checked]="form.statusToggle">Status</ion-toggle>
  </p>

  {{ action }}

</div>