<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title class="ion-text-center">Editar Documento</ion-title>
    <ion-icon ios="create-outline" md="create-sharp" slot="end" class="ion-padding"></ion-icon>
    <ion-progress-bar *ngIf="!view" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="view">
  <p>Editando documento...</p>

  <app-crudform [form]="form" [action]="action"></app-crudform>

</ion-content>