<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Início</ion-title>

    <ion-icon ios="home-outline" md="home-sharp" slot="end" class="ion-padding"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-start ion-padding-end">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga laboriosam nemo nihil commodi consectetur consequuntur, similique repudiandae itaque quis cum inventore ut hic odio. Qui, ullam? Et accusamus optio tempora.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit animi et labore accusamus voluptatem, rerum ducimus tempore id, at, nobis saepe iure obcaecati vero repudiandae numquam officiis suscipit soluta quas!</p>
</ion-content>